[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pybuilder = "*"
v = {editable = true,version = "*"}
black = "*"

[packages]
openapi-generator-cli = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
